<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysk.source.dao.PharmacyInformationMapper">
	<resultMap id="BaseResultMap" type="com.ysk.source.entity.PharmacyInformation">
		<id column="PHARMACY_ID" jdbcType="VARCHAR" property="pharmacyId" />
		<result column="PHARMACY_NAME" jdbcType="VARCHAR" property="pharmacyName" />
		<result column="BACKGROUND_PICTURE" jdbcType="VARCHAR"
			property="backgroundPicture" />
		<result column="PHARMACY_INTRODUCE" jdbcType="VARCHAR"
			property="pharmacyIntroduce" />
		<result column="CONTACT_MAN" jdbcType="VARCHAR" property="contactMan" />
		<result column="CONTACT_MOBILE" jdbcType="VARCHAR" property="contactMobile" />
		<result column="PHARMACY_ADDRESS" jdbcType="VARCHAR" property="pharmacyAddress" />
		<result column="PROVINCE" jdbcType="VARCHAR" property="province" />
		<result column="CITY" jdbcType="VARCHAR" property="city" />
		<result column="AREA" jdbcType="VARCHAR" property="area" />
		<result column="LONGITUDE" jdbcType="REAL" property="longitude" />
		<result column="LATITUDE" jdbcType="REAL" property="latitude" />
		<result column="ADD_TIME" jdbcType="VARCHAR" property="addTime" />
		<result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
		<result column="PASS_WORD" jdbcType="VARCHAR" property="passWord" />
		<result column="BUSINESS_HOURS" jdbcType="VARCHAR" property="businessHours" />
		<result column="BACKUP_DATA" jdbcType="VARCHAR" property="backupData" />
		<result column="BACKUP_TEXT" jdbcType="VARCHAR" property="backupText" />
	</resultMap>

	<sql id="Base_Column_List">
		PHARMACY_ID, PHARMACY_NAME,
		BACKGROUND_PICTURE,PHARMACY_INTRODUCE, CONTACT_MAN,CONTACT_MOBILE,
		PHARMACY_ADDRESS, PROVINCE, CITY, AREA, LONGITUDE,
		LATITUDE,ADD_TIME,ACCOUNT, PASS_WORD, BUSINESS_HOURS
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pharmacy_information
		where PHARMACY_ID = #{pharmacyId}
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pharmacy_information
	</select>

	<select id="selectPharmacyByPage" parameterType="com.ysk.source.entity.PharmacyInformation"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pharmacy_information
		<trim prefix="where" prefixOverrides="and|or">
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyName)"> and PHARMACY_NAME = #{pharmacyName}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(backgroundPicture)">and BACKGROUND_PICTURE = #{backgroundPicture}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyIntroduce)">and PHARMACY_INTRODUCE = #{pharmacyIntroduce}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(contactMan)">and CONTACT_MAN = #{contactMan}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(contactMobile)">and CONTACT_MOBILE = #{contactMobile}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyAddress)">and PHARMACY_ADDRESS = #{pharmacyAddress}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(province)">and PROVINCE =#{province}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(city)">and CITY = #{city}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(area)">and AREA = #{area}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(longitude)">and LONGITUDE = #{longitude}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(latitude)">and LATITUDE = #{latitude}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(addTime)">and ADD_TIME = #{addTime}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(account)">and ACCOUNT = #{account}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(passWord)">and PASS_WORD = #{passWord}
			</if>
		</trim>
	</select>

	<select id="selectPharmacyByLocation" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from pharmacy_information
		WHERE
		sqrt(
		(
		((#{longitude}-LONGITUDE)*ACOS(-1)*12656*cos(((#{longitude}+LONGITUDE)/2)*ACOS(-1)/180)/180)
		*
		((#{longitude}-LONGITUDE)*ACOS(-1)*12656*cos
		(((#{longitude}+LONGITUDE)/2)*ACOS(-1)/180)/180)
		)
		+
		(
		((#{latitude}-LATITUDE)*ACOS(-1)*12656/180)
		*
		((#{latitude}-LATITUDE)*ACOS(-1)*12656/180)
		)
		) &lt; #{distance}
		ORDER BY
		sqrt(
		(
		((#{longitude}-LONGITUDE)*ACOS(-1)*12656*cos(((#{longitude}+LONGITUDE)/2)*ACOS(-1)/180)/180)
		*
		((#{longitude}-LONGITUDE)*ACOS(-1)*12656*cos
		(((#{longitude}+LONGITUDE)/2)*ACOS(-1)/180)/180)
		)
		+
		(
		((#{latitude}-LATITUDE)*ACOS(-1)*12656/180)
		*
		((#{latitude}-LATITUDE)*ACOS(-1)*12656/180)
		)
		)
	</select>

	<select id="selectPharmacyByCityCode" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from pharmacy_information
		where PROVINCE = #{code} or CITY = #{code} or
		AREA = #{code}
	</select>

	<insert id="insert" parameterType="com.ysk.source.entity.PharmacyInformation">
		insert into pharmacy_information
		(PHARMACY_ID,PHARMACY_NAME,BACKGROUND_PICTURE,CONTACT_MOBILE,PHARMACY_ADDRESS,
		PROVINCE,CITY,AREA,LONGITUDE,LATITUDE,ADD_TIME,ACCOUNT,PASS_WORD
		<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyIntroduce)">,PHARMACY_INTRODUCE
		</if>
		<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(contactMan)">,CONTACT_MAN
		</if>
		)
		values
		(#{pharmacyId},#{pharmacyName},#{backgroundPicture},#{contactMobile},#{pharmacyAddress},
		#{province},#{city},#{area},#{longitude}, #{latitude},#{addTime},
		#{account},#{passWord}
		<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyIntroduce)">,#{pharmacyIntroduce}
		</if>
		<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(contactMan)">,#{contactMan}
		</if>
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.ysk.source.entity.PharmacyInformation">
		update
		pharmacy_information
		<trim prefix="set" suffixOverrides=",">
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyName)"> PHARMACY_NAME = #{pharmacyName},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(backgroundPicture)">BACKGROUND_PICTURE = #{backgroundPicture},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyIntroduce)">PHARMACY_INTRODUCE = #{pharmacyIntroduce},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(contactMan)">CONTACT_MAN = #{contactMan},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(contactMobile)">CONTACT_MOBILE = #{contactMobile},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(pharmacyAddress)">PHARMACY_ADDRESS = #{pharmacyAddress},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(province)">PROVINCE =#{province},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(city)">CITY = #{city},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(area)">AREA = #{area},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(longitude)">LONGITUDE = #{longitude},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(latitude)">LATITUDE = #{latitude},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(addTime)">ADD_TIME = #{addTime},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(account)">ACCOUNT = #{account},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(passWord)">PASS_WORD = #{passWord},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(businessHours)">BUSINESS_HOURS = #{businessHours},
			</if>
		</trim>
		where PHARMACY_ID = #{pharmacyId}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		pharmacy_information
		where PHARMACY_ID = #{pharmacyId}
	</delete>

</mapper>