<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysk.source.dao.ShoppingCartMapper">
	<resultMap id="BaseResultMap" type="com.ysk.source.entity.ShoppingCart">
		<id column="SHOPPING_CART_ID" jdbcType="VARCHAR" property="shoppingCartId" />
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="DRUG_ID" jdbcType="VARCHAR" property="drugId" />
		<result column="QUANTITY" jdbcType="INTEGER" property="quantity" />
		<result column="ADD_TIME" jdbcType="VARCHAR" property="addTime" />
		<result column="BACKUP_DATA" jdbcType="VARCHAR" property="backupData" />
		<result column="BACKUP_TEXT" jdbcType="VARCHAR" property="backupText" />
	</resultMap>

	<sql id="Base_Column_List">
		SHOPPING_CART_ID, USER_ID, DRUG_ID, QUANTITY, ADD_TIME
	</sql>

	<insert id="insert" parameterType="com.ysk.source.entity.ShoppingCart">
		insert into shopping_cart
		(SHOPPING_CART_ID, USER_ID, DRUG_ID, QUANTITY,
		ADD_TIME)
		values
		(#{shoppingCartId}, #{userId}, #{drugId}, #{quantity}, #{addTime})
	</insert>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shopping_cart
		where SHOPPING_CART_ID =
		#{shoppingCartId,jdbcType=VARCHAR}
	</select>

	<select id="selectCartByUserId" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shopping_cart
		<trim prefix="where" prefixOverrides="and|or">
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(userId)">and USER_ID = #{userId}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(drugId)">and DRUG_ID = #{drugId}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(quantity)">and QUANTITY = #{quantity}
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(addTime)">and ADD_TIME = #{addTime}
			</if>
		</trim>
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shopping_cart
	</select>

	<update id="updateByPrimaryKey" parameterType="com.ysk.source.entity.ShoppingCart">
		update
		shopping_cart
		<trim prefix="set" suffixOverrides=",">
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(userId)">USER_ID = #{userId},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(drugId)">DRUG_ID = #{drugId},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(quantity)">QUANTITY = #{quantity},
			</if>
			<if test="@com.ysk.kxt.util.mybatis.Ognl@isNotEmpty(addTime)">ADD_TIME = #{addTime},
			</if>
		</trim>
		where SHOPPING_CART_ID = #{shoppingCartId}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		shopping_cart
		where SHOPPING_CART_ID =
		#{shoppingCartId,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteByUserOrder" parameterType="java.util.Map">
		delete from
		shopping_cart
		where USER_ID = #{userId} and DRUG_ID = #{drugId}
	</delete>



</mapper>